<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Designer.Interfaces" version="1.1.4322" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.4.27004" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.14" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.4.27004" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.4.27004" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26606" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading" version="15.5.24" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.4.27004" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net471" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.1.192" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.VSSDK.Vsixsigntool" version="15.0.26606" targetFramework="net471" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net471" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net471" />
</packages>
