# User-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.nuget.props
*.nuget.targets

# Build results

[Aa]rtifacts
[Bb]in
[Pp]ackages/
[Oo]bj/

*.[Oo]bj
*.suo
*.ncb
*.aps
*.user
*.ccscc
*.cache
*.bak
*.swp
*.pidb
*.userprefs
*.FileListAbsolute.txt
*.[Cc]ache
*.tlog
*.vs10x
*.exe.manifest
*.mdb
*.docstates
*.vsp
*.pdb
*.lock.json
*.nuget.props
*.nuget.targets
Thumbs.db
build.force

**/Build/VSIP/
**/Setup/Output/
**/Build/VMWare/Workstation/Cosmos.vmsd
**/Build/VMWare/Workstation/Cosmos.vmxf

Setup/Current.iss
Cosmos.Assembler.Log
UpgradeLog*.htm
.sync/
source/_ReSharper.Caches/
*.~vsdx
Docs/~$RingsGen2.xlsx
source/Kernel-X86/90-Application/GuessKernelGen3.csproj
Docs/~$RingsGen3.xlsx
*.map
