<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Cosmos" value="https://www.myget.org/F/cosmos/api/v3/index.json" />
        <add key="NUnit" value="https://www.myget.org/F/nunit/api/v3/index.json" />
        <add key="AppVeyor NUnit Adapter CI Feed" value="https://ci.appveyor.com/nuget/nunit3-vs-adapter" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>
