<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DebugModel.csdl|res://*/DebugModel.ssdl|res://*/DebugModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=D:\source\Cosmos\source2\Demos\Guess\bin\Debug\Guess.mdf;initial catalog=Guess;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>