<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPFMachine.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixedWidthFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="ProportionalFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="DefaultForeColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="DefaultBackColor" serializeAs="String">
                <value>#FF000084</value>
            </setting>
            <setting name="DefaultInputColor" serializeAs="String">
                <value>#FF00FFFF</value>
            </setting>
            <setting name="LastPlayedGames" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlayedGamesCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GameDirectoryList" serializeAs="String">
                <value />
            </setting>
            <setting name="FrotzIgnoreErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzAttrAssignment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzAttrTesting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzObjLocating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzObjMovement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzPiracy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzExpandAbbreviations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotzSaveQuetzal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrotzSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrotzLeftMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrotzRightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrotzContextLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrotzUndoSlots" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FrotzScriptColumns" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ShowDebugMenu" serializeAs="String">
                <value>False</value>
            </setting>
        </WPFMachine.Properties.Settings>
    </userSettings>
</configuration>